@use '../../../styles/breakpoints' as *;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: var(--color-bg-component);
  box-sizing: border-box;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

  @include respond(md) {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 60px 20px 20px;
  }

  &--open {
    @include respond(md) {
      transform: translateX(0);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }

  &__headerLogo {
    color: var(--color-accent);
    font-size: 2em;
    margin-right: 10px;
  }

  &__headerTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-text);
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    flex-grow: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--color-text);
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      color: var(--color-accent);
    }

    &--active {
      color: var(--color-accent);
    }
  }

  &__linkIcon {
    font-size: 1.2em;
    margin-right: 10px;
  }

  &__authAccount {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
  }

  &__userName {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--color-text);
    padding: 20px;

    & svg {
      margin-right: 8px;
    }
  }

  &__accountInfoIcon {
    font-size: 2em;
    margin-right: 10px;
  }

  &__logoutButton {
    width: 100%;
    background-color: #a82f28;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(155, 13, 13);
    }
  }

  &__burger {
    display: none;
    width: 30px;
    height: 24px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
    cursor: pointer;

    @include respond(md) {
      display: block;
    }

    & span {
      background-color: var(--color-text);
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      transition: 0.3s ease;
      left: 0;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }

    &--active span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;

    @include respond(md) {
      display: block;
    }
  }
}
