.home {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-component);
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  color: var(--color-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
