.editProfile {
  background-color: var(--color-bg-component);
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid var(--color-accent);
  }

  &__avatarPlaceholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-accent);
    font-size: 48px;
    margin-bottom: 10px;
  }

  &__submitGroup {
    padding: 10px;

    button {
      margin: 10px;
    }
  }

  &__cancelButton {
    background-color: #a82f28;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: rgb(155, 13, 13);
    }
  }

  &__submitButton {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: #164fa5;
      color: var(--color-text);
    }

    &:disabled {
      background-color: #555;
      cursor: not-allowed;
    }
  }
}
